#leaderboard > div > div > div.panel-heading {
  background-color: #EBFBED;
}

h3 {
 font-family: 'Questrial', sans-serif;
 text-shadow: 3px 3px 13px rgba(150, 150, 152, 0.95);
 font-weight: bold;
 font-size: 3em;
}

h1 span {
  font-family: 'Pacifico', cursive;
  font-size: 1.25em;
}

#main > div > h1 {
   font-family: 'Roboto', sans-serif;
  text-shadow: 3px 3px 13px rgba(150, 150, 152, 0.95);
  margin-bottom: 0.25em;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a {
  font-family: 'Pacifico', cursive;
}

#main > div > p.lead {
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
}

#message-text > div > span > button {
    height: 50px;
}

#messageBox, #input-form > div > span > button {
    height: 50px;
}

#chatRoom > div > div.row > div > button {
    margin-bottom: 10px;
}

#chat {
    height: 300px;
    overflow: scroll;
    font-family: 'Roboto', sans-serif;

}

#usernameBox {
    margin: 10px;
}

#chat div {
    width: auto;
    min-width: 20%;
    margin-right: 60%;
    margin-bottom: 7px;
    font-size: 15px;
    background-color: #158FFE;
    border-radius: 30px;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px; 
    padding-left: 20px;
    padding-right: 15px;

}

#top-users h4 {
    display: inline;
}

#leaders div {
    text-align: left;
}

#chat div p {
    font-size: 10px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

#leaders > div > div {
  float: right;
  background-color: #158FFE;
  font-size: 12;
}

#recent-users > div {
  margin: 1em;
}

#leaders > div {
  margin: 1em;
}

#room-leaders > div {
  margin: 1em;
}


/*#chat div { 
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
}
*/